body {
background-color: black;
background-repeat: inherit;
background-size: cover;
margin: 0;

}

.wrapper {
    /* Set a max-width for readability on large screens */
    max-width: 600px; 
    
    /* Center the container horizontally */
    margin: auto; 
    
    /* Add padding so content doesn't touch the screen edges on mobile */
    padding: 20px; 
    color: white;
}

.wrapper img {

display: block;
width: 100%;
max-width: 600px; 

}

