body {
background-color: black;
background-repeat: inherit;
background-size: cover;
margin: 0;

}

.wrapper {
  /* This value must be LARGER than the image's max-width */
  max-width: 800px;
  margin: 0 auto;
  padding: 20px; 
}

/* The "Picture" */
img {

  display: block;
  margin: auto; /* This does the centering */
  
  /* This value must be SMALLER than the wrapper's max-width */
  max-width: 600px; 
  width: 100%; /* Keep this for mobile responsiveness */
}

