body {
background-color: black;
background-repeat: inherit;
background-size: cover;
margin: 0;

}

.wrapper {
    /* Set a max-width for readability on large screens */
    max-width: 800px; 
    
    /* Center the container horizontally */
    margin: auto; 
    
    /* Add padding so content doesn't touch the screen edges on mobile */
    padding: 40px 20px; 
    color: white;
}

img {

margin: auto;
padding: 20px;
width: 100%;
display: block;


}