




a  {

        display: inline-block;
        padding: 50px 50px 80px 100px; 
        font-size: 15px; 
        text-align: center;
        text-decoration: none;
        color: white;
     

    }



body {

  
    background-color:  black;
    background-repeat: inherit;
    background-size: cover;
    


}



body .video{

        position: relative;
        padding-bottom: 56.25%; 
        padding-left: 5%;
        height: 0;
        max-width: 100%;
    
}






