




a  {


     display: inline-block;
     text-align: center;
     padding: 10px 120px 20px 180px;
     font-size: 30px;
     font-style: normal;
     font-family: Georgia, 'Times New Roman', Times, serif;
     color: white;
     text-decoration: none;
     

    }



body {

        position: relative;
    background-color:  black;
    background-repeat: inherit;
    background-size: cover;


}



body  .video {

    position: relative;
    display: block;
    padding: 20px 20px 20px 20px;
    margin: 50px;
    border: 20px;
    border-color: aliceblue;
    border-width: 20px;
    overflow: auto;
    
}






